#grid-view { 
    border-spacing: 0;
    border-collapse: collapse;
}

.block{
    /* position:"relative"; */
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border: 1px solid black;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}