<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/estilos.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/grid.js"></script>
    <script src="js/player.js"></script>
    <script src="js/tetrimino.js"></script>
    <script src="js/offset_factory.js"></script>
    <script src="js/tetris.js"></script>

    <script>
        var app = angular.module("prueba", []);

        app.controller("matriz-juego", function ($scope, $interval) {
            $scope.tetris = new Tetris();

            $interval(function () { $scope.tetris.moveDown(); }, 1000);
        });
    </script>
</head>

<body ng-app="prueba" ng-cloak="">
    <div ng-controller="matriz-juego">

        <div>
            <table id="grid-view">
                <tbody>
                    <tr ng-repeat="row in tetris.getGrid() track by $index">
                        <td ng-repeat="value in row track by $index" ng-class="value==true ? 'blue block' : 'red block'"></td>
                    </tr>
                </tbody>
            </table>

            <div id="scoring-view">
                <div>Puntos: {{tetris.getScore()}}</div>
                <div ng-show="tetris.gameOver != undefined">{{tetris.gameOver}}</div>
            </div>
        </div>

        <div>
            <button ng-click="tetris.moveLeft();">Izquieda</button>
            <button ng-click="tetris.moveRight();">Derecha</button>
            <!-- <button ng-click="tetris.moveUp();">Arriba</button> -->
            <button ng-click="tetris.moveDown(score);">Abajo</button>
            <button ng-click="tetris.drop(score);">Soltar</button>
            <button ng-click="tetris.rotate();">Rotar</button>
        </div>
    </div>
</body>

</html>